[Unit]
Description=deis-store-volume

[Service]
EnvironmentFile=/etc/environment
ExecStartPre=/usr/bin/mkdir -p /var/lib/deis/store
ExecStartPre=/bin/sh -c "echo waiting for store-monitor... && until etcdctl get /deis/store/monSetupComplete >/dev/null 2>&1; do sleep 2; done"
ExecStartPre=/bin/sh -c "IMAGE=`/run/deis/bin/get_image /deis/store-volume` && docker history $IMAGE >/dev/null 2>&1 || docker pull $IMAGE"
ExecStartPre=/bin/sh -c "docker inspect deis-store-volume >/dev/null 2>&1 && docker rm -f deis-store-volume >/dev/null 2>&1 || true"
ExecStart=/bin/sh -c "IMAGE=`/run/deis/bin/get_image /deis/store-volume` && docker run --name deis-store-volume --rm -e HOST=$COREOS_PRIVATE_IPV4 -v /var/lib/deis/store:/data --cap-add SYS_ADMIN --device /dev/fuse $IMAGE"
ExecStopPost=-/usr/bin/docker rm -f deis-store-volume
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target

[X-Fleet]
Global=true
